<nb-card style="padding: 10px">
  <nb-card-header>Digite a quantidade e o preço que deseja vender</nb-card-header>
  <nb-card-body>
    <div class="row">
      <input #quantity nbInput class="input-modal" placeholder="Quantidade">
    </div>
    <br>
    <div class="row">
      <input #price nbInput class="input-modal" placeholder="Preço">
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()">Cancelar</button>
    <button nbButton status="success" class="confirm-button" (click)="submit(+quantity.value, +price.value)">Comprar</button>
  </nb-card-footer>
</nb-card>
